.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .admin-blog-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            margin-left: 15px;
            cursor: pointer;
        }
    }

    .new-blog-link {
        position: fixed;
        right: 0;
        top: 1;

        a {
            font-size: 3em;
            cursor: pointer;
            color: pink;

            margin-right: 15px;
            transition: 0.5s ease-in-out;

            &:hover {
                color: grey;
            }
        }
    }

    .content-container {
        display: flex;
        flex-direction: column;
        width: 800px;

        a {
            text-decoration: none;
            color: black;
            transition: 0.3s ease-in-out;

            &:hover {
                color: pink;
                text-decoration: underline;

            }
        }

        h1{
            font-size: 1.5em;
        }

        .featured-image-wrapper {
            img {
                margin: 15px 0px;
                width: 120%;
                height: 550px;
                border-radius: 5px;
                object-fit: cover;
            }
        }
    }
}